@media print {

    .no-print {
        display: none !important;
    }
}

#exports {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.exportCanvasBox {
    flex: 0 1 auto;
}

.exportCanvas {
    /* width: 20vw; */
    /* margin-bottom: 20px; */
    /* page-break-inside: avoid-page;
    page-break-before: auto;
    page-break-after: auto; */
    padding: 5px;
    background-color: aquamarine;
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    page-break-before: auto;
}

/* .exportCanvas>svg {
    transform: scale(0.75);
} */

/* 
.exportCanvas>* {
    page-break-inside: avoid;
    page-break-before: always;
} */